.errorContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .errorContainer::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../images/fondoError.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(0.2);
    z-index: -1;
  }
  
  .errorTitle {
    font-size: 6em;
    font-weight: bold;
    color: #dadadab5;
    margin-top: 1em;
    transition: transform 0.3s ease-in-out; 
  }
  
  .errorTitle:hover {
    transform: translateX(10px); 
  }
  
  .errorMessage {
    font-size: 2em;
    color: #dadadab5;
    animation: typing 3s steps(40), blink 0.5s step-end infinite alternate; 
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }


.errorContainer h2 {
    font-size: 7em;
    color: #e2ba5e;
    margin: 0;
    animation: fadeInRight 3s steps(40), blink 0.5s step-end infinite alternate; 
  }
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  
.svgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate360 4s  alternate;
  }

  
  @keyframes rotate360 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }